.games{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gameCover{
    border-radius: 10%;
}

h1{
    display: flex;
    justify-content: center;
}


footer{
    width: 100%;
    height: 18vh;
    background: var(--dark-soft);
}

.footerInfo{
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bottom{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: .5%;
}